<h1 class="uk-text-center">PONY</h1>
<div class="uk-height-medium uk-flex uk-flex-center">
  <img class="uk-height-1-1 uk-border-circle" src="https://pbs.twimg.com/profile_images/731128040722448385/bfJViQts_400x400.jpg"
    alt="Pony Logo">
</div>
<div class="uk-flex uk-flex-center">
  <p uk-margin>
    <a class="uk-button uk-button-default uk-button-large" href="#">Features</a>
    <a class="uk-button uk-button-default uk-button-large" href="#">Install</a>
    <a class="uk-button uk-button-default uk-button-large" href="#">Learn</a>
  </p>
</div>