<nav class="flex w-100 ph4 shadow-1 justify-between">
  <div class="flex flex-column justify-center">
    <img class="h3" src="https://pbs.twimg.com/profile_images/731128040722448385/bfJViQts_400x400.jpg" alt="Ponylang logo">
  </div>
  <div class="flex">
    <a href="/"><h2 class="mh3 fw4 pv2">Home</h2></a>
    <a href="/learn"><h2 class="mh3 fw4 pv2">Learn</h2></a>
    <a href="/discover"><h2 class="mh3 fw4 pv2">Discover</h2></a>
    <a href="/reference"><h2 class="mh3 fw4 pv2">Reference</h2></a>
    <a href="/community"><h2 class="mh3 fw4 pv2">Community</h2></a>
    <a href="/blog"><h2 class="mh3 fw4 pv2">Blog</h2></a>
    <a href="/faq"><h2 class="mh3 fw4 pv2">Faq</h2></a>
  </div>
</nav>