<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-container">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">References</a></li>
        <li><a href="#">Contribute</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">CoC</a></li>
      </ul>
  </div>
</nav>